@charset "UTF-8";

/* ===== <?variables> ============================================= */

/* ===== <?etc> ============================================= */

/* ===== <?includes> ============================================= */

@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus,
*:active,
a:focus,
a:active {
  outline: none;
}

html,
body {
  width: 100%;
  height: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
textarea,
button {
  font-size: 14px;
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: geometria;
  font-display: swap;
  src: url("../fonts/geometria-bold.woff2") format("woff2"), url("../fonts/geometria-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: geometria;
  font-display: swap;
  src: url("../fonts/geometria-medium.woff2") format("woff2"), url("../fonts/geometria-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: geometria;
  font-display: swap;
  src: url("../fonts/geometria.woff2") format("woff2"), url("../fonts/geometria.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1160px;
  padding: 0 50px;
  width: 100%;
  margin: 0 auto;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* ===== <?default_font> ============================================= */

html,
body {
  font-family: "Runda";
}

/* ===== <?styles> ============================================= */

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

::-webkit-scrollbar {
  width: 6px;
  background: lightgray;
}

::-webkit-scrollbar-thumb {
  background: #44bbc3;
}

.devider {
  background: -o-linear-gradient(0.16deg, rgba(64, 160, 166, 0.75) 0.14%, rgba(242, 246, 246, 0) 99.89%);
  background: linear-gradient(89.84deg, rgba(64, 160, 166, 0.75) 0.14%, rgba(242, 246, 246, 0) 99.89%);
  border-radius: 5px;
  width: 40px;
  height: 5px;
}

.title {
  line-height: 1.125;
  color: #2A3737;
  font-size: calc(22px + 14 * (100vw - 375px) / 1545);
}

.title__small {
  font-size: calc(16px + 8 * (100vw - 375px) / 1545);
}

.text {
  font-weight: 300;
  font-size: calc(13px + 4 * (100vw - 375px) / 1545);
  line-height: 1.5882352941;
  color: rgba(42, 55, 55, 0.85);
}

.subtitle {
  font-weight: 500;
  font-size: calc(12px + 4 * (100vw - 375px) / 1545);
  line-height: 1.6875;
  text-transform: uppercase;
  color: #40A0A6;
}

/* ===== <?parts> ============================================= */

.sidebar__burger {
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
}

.sidebar__burger::before,
.sidebar__burger::after,
.sidebar__burger span {
  content: "";
  width: 30px;
  background: #fff;
  height: 2px;
  position: absolute;
  -webkit-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.sidebar__burger::before {
  top: 18px;
}

.sidebar__burger:after {
  bottom: 18px;
}

.sidebar__burger span {
  top: 50%;
  -webkit-transform: translate(-50%, -1px);
      -ms-transform: translate(-50%, -1px);
          transform: translate(-50%, -1px);
}

.sidebar__burger.sidebar__burger_active span {
  -webkit-transform: translate(-50%, -1px) scale(0);
      -ms-transform: translate(-50%, -1px) scale(0);
          transform: translate(-50%, -1px) scale(0);
}

.sidebar__burger.sidebar__burger_active::before {
  top: 24px;
  -webkit-transform: translate(-50%, 0) rotate(45deg);
      -ms-transform: translate(-50%, 0) rotate(45deg);
          transform: translate(-50%, 0) rotate(45deg);
}

.sidebar__burger.sidebar__burger_active::after {
  bottom: 24px;
  -webkit-transform: translate(-50%, 0) rotate(-45deg);
      -ms-transform: translate(-50%, 0) rotate(-45deg);
          transform: translate(-50%, 0) rotate(-45deg);
}

.sidebar {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 300px;
          flex: 0 1 300px;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}

.sidebar__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 0;
  background: #46AAB0;
}

.sidebar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar__logo-image {
  margin: 0 0 20px 0;
}

.sidebar__logo-text {
  font-family: "Questrial";
  font-size: 20px;
  color: #fff;
}

.sidebar__body {
  background: #40A0A6;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 70px 50px 85px;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebar-navigation {
  margin: 0 0 55px 0;
}

.sidebar-navigation__link {
  font-size: 22px;
  line-height: 2.7272727273;
  font-weight: 300;
  color: #fff;
  position: relative;
  display: inline-block;
}

.sidebar-navigation__link::before {
  content: "";
  width: 0;
  height: 1px;
  background: #fff;
  position: absolute;
  bottom: 10px;
  right: 0;
  left: auto;
  -webkit-transition: 250ms ease-out 50ms;
  -o-transition: 250ms ease-out 50ms;
  transition: 250ms ease-out 50ms;
}

.sidebar-navigation__link:hover::before {
  width: 100%;
  right: auto;
  left: 0;
}

.sidebar-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px 55px;
}

.sidebar-socials__item {
  margin: 0 15px;
}

.sidebar-socials__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4285714286;
  letter-spacing: 0.1em;
  color: #fff;
  opacity: 0.75;
  text-transform: uppercase;
  -webkit-transition: 250ms ease-out 50ms;
  -o-transition: 250ms ease-out 50ms;
  transition: 250ms ease-out 50ms;
}

.sidebar-socials__link:hover {
  opacity: 0.35;
}

.scroll-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
}

.scroll-top__icon {
  margin: 0 15px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scroll-top__icon-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scroll-top__icon-circle::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  display: block;
}

.scroll-top__icon-line {
  width: 1px;
  height: 60px;
  background: #fff;
  margin: 0 0 -10px 0;
  -webkit-transition: 250ms ease-out 50ms;
  -o-transition: 250ms ease-out 50ms;
  transition: 250ms ease-out 50ms;
}

.scroll-top__text {
  margin: 0 0 5px 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.2307692308;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.85;
  -webkit-transition: 250ms ease-out 50ms;
  -o-transition: 250ms ease-out 50ms;
  transition: 250ms ease-out 50ms;
}

.scroll-top:hover .scroll-top__text {
  opacity: 1;
}

.scroll-top:hover .scroll-top__icon-line {
  height: 70px;
  margin: -10px 0;
}

.welcome {
  position: relative;
  padding: 100px 0 235px;
  min-height: 85vh;
}

.welcome__background {
  background-position: center top;
}

.welcome__container {
  position: relative;
  height: 100%;
}

.welcome__title {
  font-size: calc(34px + 10 * (100vw - 375px) / 1545);
  line-height: 1.0909090909;
  color: #fff;
  max-width: 438px;
  margin: 0 0 20px 0;
}

.welcome__text {
  max-width: 450px;
  font-weight: 300;
  font-size: calc(14px + 3 * (100vw - 375px) / 1545);
  line-height: 1.5882352941;
  color: #fff;
  padding: 0 0 20px 0;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
}

.welcome__block-quote {
  margin: 20px 0 40px 0;
}

.welcome__quote {
  font-weight: 500;
  font-size: calc(13px + 4 * (100vw - 375px) / 1545);
  line-height: 1.5882352941;
  color: #fff;
  font-style: italic;
}

.welcome__quote::before,
.welcome__quote::after {
  font-weight: 900;
  color: #40A0A6;
}

.welcome__quote::before {
  content: "“ ";
}

.welcome__quote::after {
  content: "”";
}

.welcome__button {
  top: 0px;
  right: 50px;
  position: absolute;
  background: #4AD3DB;
  display: block;
  padding: 20px 25px;
  color: #192E2F;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -webkit-transition: 250ms ease-out 50ms;
  -o-transition: 250ms ease-out 50ms;
  transition: 250ms ease-out 50ms;
}

.welcome__button:hover {
  background: #178b91;
}

.welcome-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.welcome-person__avatar {
  margin: 0 15px 0 0;
}

.welcome-person__image {
  border-radius: 50%;
  border: 2px solid #fff;
}

.welcome-person__body {
  color: #fff;
}

.welcome-person__name {
  font-weight: 500;
  font-size: calc(14px + 4 * (100vw - 375px) / 1545);
  line-height: 1.1111111111;
  margin: 0 0 2px 0;
}

.welcome-person__specify {
  font-size: calc(11px + 4 * (100vw - 375px) / 1545);
  line-height: 1.3333333333;
  opacity: 0.85;
}

.about {
  margin: -125px 0 0 0;
  position: relative;
  z-index: 1;
  background: #F1F6F6;
  padding: 0 0 85px 0;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__col-1 {
  max-width: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 500px;
          flex: 0 1 500px;
}

.about__image {
  margin: 0 0 45px 0;
}

.about__image img {
  width: 100%;
}

.about__quote {
  font-size: calc(14px + 3 * (100vw - 375px) / 1545);
  line-height: 1.5882352941;
  font-style: italic;
  color: #2A3737;
}

.about__quote::before,
.about__quote::after {
  font-weight: 900;
  color: #40A0A6;
}

.about__quote::before {
  content: "“ ";
}

.about__quote::after {
  content: "”";
}

.about-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 90px 0;
}

.about-preview__video {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 250px;
          flex: 0 0 250px;
  aspect-ratio: 1/1;
  background: #4099A6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-preview__video span {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.8;
}

.about-preview__play {
  width: 81px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #fff;
  background: #40A0A6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 15px 0;
}

.about-preview__play img {
  -webkit-transform: translate(1px, 1px);
      -ms-transform: translate(1px, 1px);
          transform: translate(1px, 1px);
}

.about-preview__body {
  background: #fff;
  padding: 30px 50px 30px 30px;
}

.about-preview__devider {
  margin: 0 0 21px 0;
}

.about-preview__title {
  margin: 0 0 12px 0;
}

.about-preview__text {
  max-width: 430px;
}

.about-info__devider {
  margin: 0 0 10px 0;
}

.about-info__subtitle {
  margin: 0 0 30px 0;
}

.about-info__title {
  margin: 0 0 15px 0;
}

.about-info__text {
  max-width: 405px;
}

@media (min-width: 1151px) {
  .sidebar__burger {
    display: none;
  }
}

@media (max-width: 1335px) {
  .about__content {
    display: block;
    margin: -50px 0 0 0;
  }

  .about__col-1 {
    max-width: 100%;
    margin: 0 0 35px 0;
  }

  .about-preview {
    width: 100%;
    margin: 0 0 55px 0;
  }

  .about-preview__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

@media (max-width: 1150px) {
  .container {
    padding: 0 20px;
    max-width: 1100px;
  }

  .sidebar {
    width: 100%;
    z-index: 1;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .sidebar__header {
    position: relative;
    z-index: 2;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px 20px;
  }

  .sidebar__logo-image {
    margin: 0 0 8px 0;
    width: calc(60px + 17 * (100vw - 375px) / 775);
  }

  .sidebar__logo-text {
    font-size: calc(14px + 2 * (100vw - 375px) / 775);
  }

  .sidebar__body {
    opacity: 0;
    position: relative;
    z-index: 1;
    visibility: hidden;
    -webkit-transform: translate(0, -25%);
        -ms-transform: translate(0, -25%);
            transform: translate(0, -25%);
    -webkit-transition: 250ms ease-out 50ms;
    -o-transition: 250ms ease-out 50ms;
    transition: 250ms ease-out 50ms;
  }

  .sidebar__body.sidebar__body_active {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
  }

  .welcome {
    padding: 200px 0 235px;
  }
}

@media (max-width: 768px) {
  .sidebar__body {
    padding: 30px 40px 45px;
  }

  .welcome__background {
    background-position: 75% 0;
  }

  .welcome__background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
  }

  .welcome__content {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .welcome__title {
    margin: 0 0 15px 0;
  }

  .welcome__text {
    padding: 0 0 15px 0;
  }

  .welcome__block-quote {
    margin: 15px 0 30px 0;
  }

  .welcome__button {
    position: static;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 25px 0 0 0;
  }
}

@media (max-width: 560px) {
  .about-preview {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}